@import 'tailwindcss';
@plugin 'tailwindcss-animate';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --breakpoint-*: initial;
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1472px;

    --font-*: initial;
    --font-plus-jakarta: Plus Jakarta Sans, sans-serif;

    --color-*: initial;
    --color-transparent: transparent;
    --color-current: currentColor;
    --color-white: #ffffff;
    --color-black: #171718;
    --color-primary: #335cff;

    --color-gray-100: #fafbfc;
    --color-gray-200: #f9fafb;
    --color-gray-300: #e2e8f0;
    --color-gray-400: #f5f7fa;
    --color-gray-500: #b9bec6;
    --color-gray-600: #9ca3af;
    --color-gray-700: #6b7280;
    --color-gray: #525866;

    --color-danger: #ef4444;
    --color-danger-light: #fee2e2;

    --color-success: #22c55e;
    --color-success-light: #dcfce7;

    --color-warning: #eab308;
    --color-light-theme: #f4f7ff;
    --color-light-orange: #ffedd5;
    --color-light-blue: #e0f2fe;
    --color-light-purple: #f3e8ff;

    --shadow-3xl: 0 1px 2px 0 rgba(95, 74, 46, 0.08),
        0 0 0 1px rgba(227, 225, 222, 0.4);
    --shadow-sm: 0 1px 2px 0 rgba(113, 116, 152, 0.1);

    --animate-accordion-down: accordion-down 0.3s ease-out;
    --animate-accordion-up: accordion-up 0.3s ease-out;
    --animate-caret-blink: caret-blink 1.25s ease-out infinite;

    @keyframes accordion-down {
        from {
            height: 0;
        }
        to {
            height: var(--radix-accordion-content-height);
        }
    }
    @keyframes accordion-up {
        from {
            height: var(--radix-accordion-content-height);
        }
        to {
            height: 0;
        }
    }
    @keyframes caret-blink {
        0%,
        70%,
        100% {
            opacity: 1;
        }
        20%,
        50% {
            opacity: 0;
        }
    }
}

@utility container {
    margin-inline: auto;
    padding-inline: 1rem;
}

@layer base {
    button {
        @apply cursor-pointer;
    }
}

.sidebar .nav-link {
    @apply text-gray flex items-center gap-2.5 px-5 py-2.5 text-sm leading-tight font-medium transition hover:text-black;
}
.nav-item.sub-menu-active {
    @apply bg-light-theme !text-primary;
}
.nav-item.active {
    @apply !text-black;
}
.sidebar .submenu > li > a {
    @apply hover:bg-light-theme hover:text-primary flex gap-1.5 rounded-lg px-2 py-1 font-medium text-gray-700 transition;
}
.sidebar.closed {
    @apply w-[260px] lg:w-[60px];
}
.sidebar.closed h3 {
    @apply rounded-none;
}
.sidebar.closed h3 > span {
    @apply hidden;
}
.sidebar.closed h3 > svg {
    @apply block;
}
.sidebar.closed .submenu {
    @apply lg:hidden;
}
.sidebar .nav-link span {
    @apply whitespace-nowrap transition-all;
}
.sidebar.closed .nav-link span {
    @apply lg:invisible lg:w-0;
}
.sidebar.closed .sidemenu {
    @apply px-2.5 lg:px-0;
}
.sidebar.closed .upgrade-menu {
    @apply hidden;
}
.sidebar.open {
    @apply left-0;
}
#overlay.open {
    @apply block;
}
